@import url("https://yuno-nekoisland.github.io/ccfoliaCustomCss/css/common/import-css/dice-window-imp.css");
/*▼変数▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼*/
:root{
  /* 活性化設定 */
  --skip-button-dice-window : none;
  /* ⓪ウィンドウ全体 */
  --dice-window-width : 850px;
  --dice-window-height : 200px;
  --dice-window-bottom : 50px;
  --dice-window-left : 50px;
  --dice-window-right : 1150px;
  --dice-window-background-color : rgba(0, 0, 0, 0.9) !important;
  /* ②ダイスウィンドウヘッダー */
  --dice-header-font-size : 130%;
  /* ③ダイスウィンドウ本文 */
  --dice-body-text-page-height : 125px; /* ⓪ウィンドウ全体の高さより低くする。 */
  --dice-body-text-font-size : 150%;
}
