@import url("https://yuno-nekoisland.github.io/ccfoliaCustomCss/css/common/import-css/dice-window-imp.css");
/*▼変数▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼*/
:root{
  /* 活性化設定 */
  --skip-button-dice-window : none;
  /* ⓪ウィンドウ全体 */
  --dice-window-width : 723px;
  --dice-window-height : 250px;
  --dice-window-bottom : 20px;
  --dice-window-left : 0px;
  --dice-window-right : 0px;
  /* ①ダイス本体 */
  --dice-size : 73px;
  --dice-bottom : 5%;
  --dice-space-right : 3%;
  /* ②ダイスウィンドウヘッダー */
  --dice-header-margin-top : 5px;
  --dice-header-font-size : 130%; /* 巷で噂のトリックスター(忍男)・カタストロフ基準 */
  /* ③ダイスウィンドウ本文 */
  --dice-body-text-page-margin-top : 5px;
  --dice-body-text-page-padding-left : 30px;
  --dice-body-text-page-height : 170px; /* ⓪ウィンドウ全体の高さより低くする。 */
  --dice-body-text-font-size : 150%;
}
