@import url("https://yudukiak.github.io/ccfoliaCSS/CSS/board.css");
@import url("https://yuno-nekoisland.github.io/ccfoliaCustomCss/css/balloon/main.css");
/*balloon.css　吹き出しを出す*/
.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation6 {
	display: block;
}
/*board.css　盤面そのものを消す*/
div[tabindex="0"][style^="right:"]>div:nth-child(1) {
	display: block;
}
/*boardBackground.css　盤面の「背景」を消す*/
header.MuiAppBar-positionFixed+div {
	display: block;
}
/*タイマー表示*/
.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation5 {
    display: block;
}
/*▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼未使用▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼*/
/*オブジェクトを操作できるように活性化させる。
[role="presentation"]:not(.MuiSnackbar-root) {
	display: inline;
}*/
/*edit.cssっぽいがなぜ......？
button.MuiFab-root {
	display: block;
}*/