:root{
	--balloon-left: 0px;
	--balloon-right: 0px;
	--balloon-bottom: 0px;
}

/*dicewindowの設定*/
div[tabindex="0"]>.MuiPaper-root.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation6 {
	left: var(--balloon-left);
	right: var(--balloon-right);
	bottom: var(--balloon-bottom);
}