@import url("https://yudukiak.github.io/ccfoliaCSS/CSS/status/main.css");
:root {
	--avatar-padding: 0;
	--avatar-display: none;
	--status-width: 225px;
	--status-height: 30px;
	--status-font-size: 1.6rem;
}
.MuiBadge-root+div>div>div:nth-child(2),
.MuiBadge-root+div>div>div:nth-child(4),
.MuiBadge-root+div>div>div:nth-child(5),
.MuiBadge-root+div>div>div:nth-child(6){
	display: none;
}