/*▼common:将来的に分割▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼*/
@import url("https://yudukiak.github.io/ccfoliaCSS/CSS/asset/-obs.css");						/*▼▼おまじない*/
@import url("https://yudukiak.github.io/ccfoliaCSS/CSS/asset/-scrollbar.css");					/*▼▼スクロールバーを非活性化*/
@import url("https://yudukiak.github.io/ccfoliaCSS/CSS/asset/character.css");					/*盤面の「キャラクター」を消す*/
/*TODO:edit.cssの中身を参照しないようにしても、鉛筆ボタンが非活性のまま。他で影響されている？*/
@import url("https://yudukiak.github.io/ccfoliaCSS/CSS/asset/edit.css");						/*鉛筆マークを消す*/
@import url("https://yudukiak.github.io/ccfoliaCSS/CSS/asset/header.css");						/*ヘッダーを消す*/
@import url("https://yudukiak.github.io/ccfoliaCSS/CSS/asset/modal.css");						/*広告動画のUIを消す*/
@import url("https://yudukiak.github.io/ccfoliaCSS/CSS/asset/monitoring.css");					/*監視モードお知らせを消す*/
@import url("https://yudukiak.github.io/ccfoliaCSS/CSS/asset/newDice.css");						/*盤面上を転がるダイスを消す*/
/*TODO:scaling.cssの中身を参照しないようにしても、拡大・縮小ボタンが非活性のまま。他で影響されている？*/
@import url("https://yudukiak.github.io/ccfoliaCSS/CSS/asset/scaling.css");						/*拡大縮小のUIを消す*/
@import url("https://yudukiak.github.io/ccfoliaCSS/CSS/asset/status.css");						/*キャラのステータスのUIを消す*/
@import url("https://yudukiak.github.io/ccfoliaCSS/CSS/asset/volume.css");						/*BGM周りのUIを消す*/

/*▼変数初期化▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼*/

/*▼参考ソース設定内容▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼*/
/*@import url("https://yudukiak.github.io/ccfoliaCSS/CSS/board.css");にて記載の設定*/
/* 盤面の枠線 */
div[style^="touch-action"]>div[style^="transform: translate"]>div[style^="transform: scale"]>div:first-child {
	outline: unset !important;
}

/* ポップアップ */
[role="tooltip"]>div {
	font-size: 1.3rem !important;
	max-width: 1280px;
}

/*▼はろにゅ特有▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼*/
/*▼▼DiceWindowを非活性化
@import url("https://yuno-nekoisland.github.io/ccfoliaCustomCss/css/Hello_new_World/importCss/dicewindow.css");にてDiceWindowのみ活性化。
立ち絵の上にDiceWindowをかぶせたいため
*/
div[tabindex="0"]>.MuiPaper-root.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation6 {
	display: none;
}

/*▼▼roomChatを活性化
/*roomChatのヘッダー非活性化*/
header.MuiAppBar-positionSticky{
	display: none;
}

/*roomChatの操作欄非活性化*/
.MuiPaper-root.MuiPaper-elevation.MuiPaper-elevation6.sc-dbXCbj{
	display: none;
}

/*▼その他▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼*/
/*▼▼オブジェクトを操作できるように活性化させる。*/
/*TODO:冒涜都市Zシーンでも使用しているため、共通ソースにする*/
[role="presentation"]:not(.MuiSnackbar-root) {
	display: inline;
}
